bin/repos.json
bin/meta

protocols
__pycache__
trident
**/config.json
.sessions/state.pkl
*.pkl
/tests/session_environments/
/.environ/
/.cache/
*.xml
/parrotfish.egg-info/
/examples/setting_sessions.sh
/examples/registering.sh
/examples/

.vscode
/parrotfish/environment_data/
